.button{
  background-color: var(--red);
    padding: 20px 90px;
    text-align: center;
    border: none;
    border-radius: 12px;
    color: var(--light);
    font-size: 15px;
    font-weight: bold;
    transition: all 0.15s ease;
}

.button:hover{
  cursor: pointer;
  background-color: var(--red);
  /* background-color: #ff0004; */
  transform: scale(1.05);
  opacity: 0.8;
}