.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 550px;
  margin: 0 auto;
  padding: 50px 0;
  border: 1px solid var(--dark);
  border-radius: 15px;
  margin-top: 25px;
  gap: 15px;
}

.container > p:first-of-type{
  font-size: 30px;
  font-weight: bold;
  color: var(--red);
}

.inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputs > input{
  width: 100%;
  max-width: 280px;
  height: 50px;
  padding: 0px 30px;
  border-radius: 15px;
  border: none;
  outline: 1px solid var(--dark);
}

.inputs > input:hover{
  background-color: rgb(238, 232, 232);
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons > p:last-child{
  color: var(--red);
}

.buttons > p:last-of-type:hover{
  cursor: pointer;
}

