.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 50px 0;
  border: 1px solid var(--dark);
  border-radius: 15px;
  margin-top: 25px;
  gap: 15px;
}

.container > p:first-of-type{
  font-size: 30px;
  font-weight: bold;
  /* margin-bottom: 20px; */
}

.container > input{
  width: 100%;
  max-width: 280px;
  height: 50px;
  padding: 0px 30px;
  border-radius: 15px;
  border: none;
  outline: 1px solid var(--dark);
}

.container > input:hover{
  background-color: rgb(238, 232, 232);
}
